# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = spider_1000realty.settings
BOT_NAME = 'pasana'

[deploy]
#url = http://localhost:6800/
project = spider_1000realty
